# dependencies
node_modules/
.pnpm-store/

# next
.next/
out/

# production
build/
dist/

# env
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# database
*.db
*.sqlite

# misc
.DS_Store
Thumbs.db

/src/generated/prisma

#portfolio
/outputs

# Sentry Config File
.env.sentry-build-plugin
